.modal {

    color: rgb(22, 21, 21);
    text-align: center;
    
}

.btn1 {
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: none;
}

.btn1:hover {
    background-color: rgb(235, 7, 7);
}