.color1 {color: #343365;}
.color2 {color: #673c77;}
.color3 {color: #ab4a8c;}
.color4 {color: black;}

.color3 {color: #3a112da4;}
.color4 {color: rgba(0, 0, 0, 0.432);}
.color4 {color: rgba(0, 0, 0, 0.521);}
.color4 {color: rgba(68, 63, 63, 0.603);}