.eventCard {
    width: 400px;
    height: 400px;
    margin-right: 20px;  
}

.img {
    border-radius: 5px;
    width: 230px; 
    height: 145px
}

.title {
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* overflow: hidden; */
    width: 100%;
}

.shop {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin-bottom: 10vh;

}