.container{
    /* width: 400px;
    height: 50x;
    justify-content: center;
    align-items: center;
    margin-top: 20px; */
    display: flex;
    position: absolute;
    margin-left: 65%;
}

.searchBar{
    border: 0px solid;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-right: none;
    height: 40px;
    width: 200px;
    font-size: 1rem;
    /* box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    backdrop-filter: blur(14px); */
    background-color: rgba(255, 255, 255, 0.2);
}
.btn{
    border: 0px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;

    background-position: center;
    background-size: cover; 
    /* box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2); */
    /* backdrop-filter: blur(14px); */
    background-color: rgba(255, 255, 255, 0.2);
    width: 40px;
    height: 43px;

    
    

}