.btn1:hover {
    background-color: aliceblue;
    color: black;
}

.btn2:hover {
    background-color: aliceblue;
    color: black;
}

.btn3:hover {
    background-color: aliceblue;
    color: black;
}


/* .btn1{
    background-color : black;
    color : white;
    font-family: 'Poppins', sans-serif;
    width : 10vw;
    height : 4vh;
    border-radius : 10px;
}

.btn2{
    background-color : black;
    color : white;
    font-family: 'Poppins', sans-serif;
    width : 10vw;
    height : 4vh;
    border-radius : 10px;
}

.btn3{
    background-color : black;
    color : white;
    font-family: 'Poppins', sans-serif;
    width : 10vw;
    height : 4vh;
    border-radius : 10px;
} */